<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mr. Patrick</title>
    <link rel="icon" type="image/x-icon" href="oy.ico" />
  </head>
  <style>
    * {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      border-radius: 50px;
      text-decoration: none;
    }
    body {
      padding: 2vh 5vw;
      background: rgb(27, 27, 27);
      color: white;
      margin-bottom: 10vh;
    }
    button,
    a {
      padding: 1vh 2vw;
      border: none;
      cursor: pointer;
      font-weight: bold;
      transition: 0.1s;
      box-shadow: 2px 0px 10px rgb(192, 192, 192);
    }
    button:hover {
      background: black;
      color: white;
    }
    a {
      background: white;
      color: black;
    }
    a:hover {
      background: black;
      color: white;
    }
    label {
      font-size: 18pt;
    }
    .file-input {
      font-size: 16pt;
      padding: 1vh 2vw;
    }
    .file-input-label {
      font-size: 14pt;
      font-weight: bold;
    }
    form{
      display: grid;
      gap: 3vh;
      background: #363945;
      justify-content: center;
      padding: 2vh;
      box-shadow: 0 10px 10px #60657a;
      transition: ease-in-out 0.3s;
    }
    form:hover{
      transform: translateY(15px);
      box-shadow: none;
    }
    form h1{
      text-align: center;
    }
    #l{
      border: none;
    }
    form input{
      padding: .5vh 1vw;
      border: 1px solid;
      font-size: 16pt;
      outline: none;
    }
    form input:focus{
      box-shadow: 0 0 10px rgb(255, 255, 255);
    }
    form button{
      justify-self: center;
    }
    form div{
      display: flex;
      align-items: center;
      gap: 2vh;
    }
    #out{
      float: right;
    }
    /* disclaimer */
    .container {
        max-width: 60%;
        margin: 50px auto;
        padding: 20px;
            background: #363945;
        }
        p {
            line-height: 1.8;
            font-size: large;
        }
        ol {
            margin-left: 20px;
        }
        li {
            margin-bottom: 15px;
        }
        .back-link {
            display: block;
            text-align: center;
            margin-top: 30px;
            text-decoration: none;
            color: #007BFF;
            font-weight: bold;
        }
  </style>
  <body>